h1 {
    text-align: center;
    background-color: #d8d8d8;
}

table, td, th {
border: 1px solid black;
text-align: center;
}

.centerTotal {
    text-align: center;
}

h3 {
    text-align: center;
}

#border {
    border: 1px solid black; 
}







